extends ../components/common/layout

block header
  include ../components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      .d-flex.align-items-center.justify-content-between
        h2(th:text="#{profile.header.Active}") Active orders
        a.btn.btn-primary(href="/order-history.html" th:href="${lang_prefix} + @{/profile/history}" th:text="#{_.orderHistory}") Orders history
      hr
      .row.mt-3
        .col-12
          .row(th:block th:each="order : ${orders}")
            .col-12.col-md-6.col-lg-3.mb-4
              .card
                .card-header.d-flex.justify-content-between.align-items-center
                  a.fw-bold(th:href="${lang_prefix} + @{/profile/orders/order(id=${order.id})}") [[${order.code}]]
                  .badge.bg-danger.rounded-pill Walting
                .card-body.d-flex.justify-content-between.align-items-center
                  .card-text.text-secondary.fs-7 [[${#temporals.format(order.createDate, #messages.msg('format.datetime'))}]]
                  .card-text.fs-7.fw-bold [[${order.totalPrice}]]
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-primary.rounded-pill Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-secondary.rounded-pill Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-success.rounded-pill Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-warning.rounded-pill.text-dark Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-info.rounded-pill.text-dark Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
            //.col-12.col-md-6.col-lg-3.mb-4
            //  .card
            //    .card-header.d-flex.justify-content-between.align-items-center
            //      a.fw-bold(href="#") #210114-0001
            //      .badge.bg-dark.rounded-pill Walting
            //    .card-body.d-flex.justify-content-between.align-items-center
            //      .card-text.text-secondary.fs-7 14/1/2021 19:11:33
            //      .card-text.fs-7.fw-bold 78580.80 THB
