.row.mb-4.mt-4.mt-md-0
  .col.col-12.col-lg-4
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--vin}") VIN
        span.d-block.fw-bold(th:text="${vehicle.vin}") 123123123
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--type-of-car}") Type of car:
        span.d-block.fw-bold(th:text="${vehicle.bodyType}") Passenger Car
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--doors-number}") Doors number
        span.d-block.fw-bold(th:text="${vehicle.doorsNumber}") 4
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--frame-type}") Frame Type:
        span.d-block.fw-bold(th:text="${vehicle.frameNo}") ZWA10
    hr
    .d-flex.align-items-center
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--fuel-type}") Fuel Type:
        span.d-block.fw-bold Petrol

  .col.col-12.col-lg-4
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--tyres}") Tyres Size:
        span.d-block.fw-bold(th:text="#{garage.detail__data--tyres}") 195/65 R15 91V
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--motor-oil}") Motor Oil:
        span.d-block.fw-bold(th:text="#{garage.detail__data--motor-oil}") 10w40
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--chassis}") Chassis Code
        span.d-block.fw-bold(th:text="${vehicle.modelCode}") ZWA10L-AHXBBC
    hr
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--engine-code}") Engine Code
        span.d-block.fw-bold(th:text="${vehicle.engineType}") 5ZRFXE;1800CC 16-VALVE DOHC EFI
  .col.col-12.col-lg-4
    .d-flex.align-items-center.mb-3
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--engine-numrange}") Engine №:
        span.d-block.fw-bold(th:text="${vehicle.engineNumRange}") type
    hr
    .d-flex.align-items-center
      .d-block
        .fs-7.d-block.text-secondary(th:text="#{garage.detail__heading--transmission}") Transmission Type:
        span.d-block.fw-bold(th:text="${vehicle.transmissionType}") CONTINUOUSLY VARIABLE TRANSMISSION
