header.w-100
  .navbar.navbar-expand-lg.bg-dark.py-1
    .container
      ul.nav.ms-auto.fs-7
        li.nav-item.dropdown
          a#navbarDarkDropdownMenuLink.nav-link.link-light.px-3.py-0.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#locale.getDisplayName(#locale)}") Language
          ul.dropdown-menu(aria-labelledby="navbarDarkDropdownMenuLink")
            li(th:each="alternative_entry : ${alternative_urls}")
              a.dropdown-item(th:href="${alternative_entry.getValue()}" th:text="${alternative_entry.getKey().getDisplayName(alternative_entry.getKey())}") English
        li.nav-item
          a.nav-link.link-light.px-3.py-0(href="#")  Company
        li.nav-item
          a.nav-link.link-light.px-3.py-0.pe-0(href="#") Help
        li.nav-item(sec:authorize="!isAuthenticated()")
          a.nav-link.link-light.px-3.py-0.pe-0(th:href="@{/login}" th:text="#{label.login}") Login
  .py-0.py-md-2.bg-primary
    .navbar.navbar-expand-lg
      .container.d-block
        .row.align-items-center
          .col-6.col-lg-3
            a.navbar-brand.me-auto(href="/")
              em.h5.fw-bold.text-white(th:text="#{logo.text}") BLUE.PARTS
          .col-6.d-none.d-lg-block
            form.d-flex.position-relative.search(th:action="${lang_prefix} + @{/partprice}" method="get")
              select.form-select.w-auto.pe-5.fs-7#select-type-of-search
                option(value="1" selected th:text="#{main_page.car_model}") Part Number
                option(value="2" th:text="#{main_page.vin}") VIN
              .input-group
                input.form-control.pe-5.fs-7.py-2#search-form-input(type="text", th:placeholder="\#{_.placeholder.search-form.partnum}", name="partnum", required=true)
              button.btn.btn-primary.btn-sm.position-absolute.top-50.translate-middle-y.end-0.me-1(type='submit')
                i.bi.bi-search
          .col-6.col-lg-3
            .d-flex.justify-content-end
              //a.me-5.position-relative.d-none.d-md-block(href="/")
              //  i.bi.bi-shop.text-light.fs-3
              //  span.badge.bg-danger.position-absolute.end-0.badge-basket 1
              a.me-5.position-relative.d-none.d-md-block(href="/cart" th:href="${lang_prefix} + @{/cart}")
                i.bi.bi-cart2.text-light.fs-3
                span.badge.bg-danger.position-absolute.end-0.badge-basket 3

              include ../menu
