header.position-absolute.w-100.fixed-top
  .navbar.navbar-expand-lg.bg-dark.py-1
    .container
      ul.nav.ms-auto.fs-7
        li.nav-item.dropdown
          a#navbarDarkDropdownMenuLink.nav-link.link-light.px-3.py-0.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#locale.getDisplayName(#locale)}")
            i.bi.bi-globe2.me-2
            | Language 
          ul.dropdown-menu(aria-labelledby="navbarDarkDropdownMenuLink")
            li(th:each="alternative_entry : ${alternative_urls}")
              a.dropdown-item(th:href="${alternative_entry.getValue()}" th:text="${alternative_entry.getKey().getDisplayName(alternative_entry.getKey())}") English
        li.nav-item
          a.nav-link.link-light.px-3.py-0(href="#") Help
        li.nav-item(sec:authorize="!isAuthenticated()")
          a.nav-link.link-light.px-3.py-0.pe-0(th:href="@{/login}" th:text="#{label.login}") Login

  .py-2
    .navbar.navbar-expand-lg
      .container
        .d-flex.align-items-center.w-100
          a.navbar-brand.me-auto(th:href="${lang_prefix} + @{/}")
            em.h5.fw-bold.text-white(th:text="#{logo.text}") BLUE.PARTS
          include ../menu
