extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
  .container
    div(th:with="vehicle=${extendedUnits.extendedInfo}, units=${extendedUnits.unitList}" th:remove="tag")
    //Fixme: формирование Title
    //div(th:replace="fragments/head/head--common :: head(title='modelunits', args=${new Object[] {vehicle.unitGroupTitle, vehicle.manufacturer, vehicle.modelTitle}})" th:remove="tag")
    h1 Blocks Power Train/Chassis
      //(th:utext="#{modelunits.heading(${vehicle.unitGroupTitle}, ${vehicle.manufacturer})}")
    include components/common/breadcrumb
    p.lead.mb-5.d-none.d-md-block(th:utext="#{modelunits.description__helper(${vehicle.unitGroupTitle}, ${vehicle.manufacturer}, ${vehicle.modelTitle}, ${vehicle.modelYear}, ${lang_prefix} + @{/garagemodel?(make=${vehicle.manufacturer},modelId=${vehicle.modelId})})}") On the Power Train/Chassis page, you can see all the detailed drawings (schema) of unit section for TOYOTA RAV4 201212 - 201510. Select the desired section to view a larger drawing (schema) and to choose auto parts.
    hr.mb-1.mt-1
    .row.mt-5
      .col.col-6.col-md-4.col-lg-2.mb-4(th:each="unit : ${units}")
        .hidden(th:utext="${unit.id}") id
        .hidden(th:utext="${unit.unitCode}") code
        a.card.text-decoration-none.link-secondary(href="/unitschema.html" th:href="${lang_prefix} + @{/unitschema/{manufacturer}(manufacturer=${#strings.toLowerCase(vehicle?.manufacturer)},modelId=${vehicle?.modelId},unitId=${unit.id})}")
          .card-body
            .fs-7(th:utext="${unit.title}") SHIFT LEVER & RETAINER
              img.card-img-top(src="https://images.blue.parts/toyota/GR/662340/2/3312/334650A.png", alt="", th:alt="${unit.title}", th:src="@{'https://images.blue.parts' + ${unit.thumbFilename} + '.png'}")
