extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      th:block(th:if='${genuineBrand != null || replacementBrand != null}' th:with='brand=${isGenuinePartnum ? genuineBrand : replacementBrand}')
        h1.page-heading__title(th:text='\#{result-parts.heading(${partnumCustom}, ${brand})}') Result Search
        p(th:if='${isGenuinePartnum}' th:text='\#{result-parts.heading.description-genuine(${partnum}, ${genuineDescription}, ${brand})}') test
        p(th:if='${!isGenuinePartnum}' th:text='\#{result-parts.heading.description-replacement(${partnumCustom}, ${replacementDescription}, ${brand})}') test
      h1.page-heading__title(th:unless='${genuineBrand != null || replacementBrand != null}' th:text='\#{result-parts.heading.notfound}') Result Search
      hr
      .row.mt-3
        .col.col-12.col-lg-3.mb-4.mb-lg-0
          .sticky-lg-top.top-1
            .card
              .card-header
                .fw-bold SEARCH FILTER
              form.card-body.filter-form
                .fs-7.d-block.text-secondary.mb-1.mt-2 CHOOSE TYPE OF PARTS
                label.d-flex.align-items-center.mb-1
                  input.form-check-input.mt-0(type="checkbox" name="type-of-parts" value="#GENUINE" th:checked="${!#lists.isEmpty(resultTables[0].rows)}")
                  span.mx-2 Genuine
                label.d-flex.align-items-center
                  input.form-check-input.mt-0(type="checkbox" name="type-of-parts" value="#REPLACEMENT" th:checked="${!#lists.isEmpty(resultTables[1].rows)}")
                  span.mx-2 Replacement
                hr
                div(th:if="!${#sets.isEmpty(brands)}")
                  .fs-7.d-block.text-secondary CHOOSE BRAND
                  label.d-flex.align-items-center(th:each="brand : ${brands}")
                    input.form-check-input.mt-0(type="checkbox" th:attr="id=${brand},value=${brand}" aria-label="Checkbox for following text input")
                    span.mx-2(th:text="${brand}" th:attr="for=${brand}") TOYOTA
                hr
                .fs-7.d-block.text-secondary.mb-1.mt-2 SORT BY
                label.d-flex.align-items-center.mb-1
                  input.form-check-input.mt-0(type="radio" name="sort-by" data-column="6" data-type="asc" aria-label="Radio button for following text input")
                  span.mx-2 Price: Low to High
                label.d-flex.align-items-center.mb-1
                  input.form-check-input.mt-0(type="radio" name="sort-by" data-column="6" data-type="desc" aria-label="Radio button for following text input")
                  span.mx-2 Price: High to low
                label.d-flex.align-items-center
                  input.form-check-input.mt-0(type="radio" name="sort-by" value="sort-by-rating" data-column="3" data-type="desc" aria-label="Radio button for following text input")
                  span.mx-2 Rating
                hr
                .d-flex.gap-2.align-items-center
                  a.btn.btn-primary.w-100 Search
                  a.btn.btn-outline-danger.w-25#reset-filters
                    .bi.bi-x

        .col.col-12.col-lg-9(th:each="table : ${resultTables}" th:attr="data-name=${table.id}")
          h4.mt-2th(th:text="${table.id}")
          hr
          table.mb-3.table.table-striped.nowrap.dataTable-load.data-table(th:attr="id=${table.id}")
            thead
              tr
                th(th:utext="#{result-parts.table.partnum}")
                th(th:utext="#{result-parts.table.description}")
                th(th:utext="#{result-parts.table.brand}")
                th(th:utext="#{result-parts.table.store}")
                th(th:utext="#{result-parts.table.stock}")
                th(th:utext="#{result-parts.table.waiting}")
                th(th:utext="#{result-parts.table.price}")
                th(th:text="#{result-parts.table.order}")
